<h1>My tasks</h1>

  <%@tasks.each do |task|%>
    <p>
      <%if task.completed%>
        <i class="fa-regular fa-square-check"></i>
      <%else%>
        <i class="fa-regular fa-square"></i>
      <%end%>
      <%=link_to task.title, task_path(task)%>
    </p>
  <%end%>

<%=link_to "Add a new task", new_task_path%>
